<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AppsWatcher</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <div id="container">
           <div id="header">
               @Html.Partial("_Menu")
           </div>
           <div id="body">
               @RenderBody()
           </div>
           <div id="footer">
               &copy; Copyright @DateTime.Now.Year All Rights Reserved. Powered by <a target="_blank" href="http://yoinbol.com">Yoinbol</a>
           </div>
        </div>
        @*@Html.Partial("_Menu")
		<div id="body" class="grid">
            @RenderBody()
        </div>
        <div class="clear"></div>
        <div id="footer">
            &copy; Copyright @DateTime.Now.Year All Rights Reserved. Powered by <a target="_blank" href="http://yoinbol.com">Yoinbol</a>
        </div>*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/myscripts")
        @RenderSection("scripts", required: false)
    </body>
</html>
